In [1]:
# Trust Fund Buddy - Bad
# Demonstrates a logical error
print(
"""
 Trust Fund Buddy
Totals your monthly spending so that your trust fund doesn't run out
(and you're forced to get a real job).
Please enter the requested, monthly costs. Since you're rich, ignore 
 pennies and use only dollar amounts.
"""
)
car = input("Lamborghini Tune-Ups: ")
rent = input("Manhattan Apartment: ")
jet = input("Private Jet Rental: ")

gifts = input("Gifts: ")
food = input("Dining Out: ")
staff = input("Staff (butlers, chef, driver, assistant): ")
guru = input("Personal Guru and Coach: ")
games = input("Computer Games: ")
total = car + rent + jet + gifts + food + staff + guru + games
print("\nGrand Total:", total)

 Trust Fund Buddy
Totals your monthly spending so that your trust fund doesn't run out
(and you're forced to get a real job).
Please enter the requested, monthly costs. Since you're rich, ignore
 pennies and use only dollar amounts.

Lamborghini Tune-Ups: 53
Manhattan Apartment: 56
Private Jet Rental: 66
Gifts: 56
Dining Out: 58
Staff (butlers, chef, driver, assistant): 58
Personal Guru and Coach: 5
Computer Games: 85

Grand Total: 535666565858585


Press the enter key to exit.

''

In [2]:
# Trust Fund Buddy - Good program
# Demonstrates a logical error
print(
"""
 Trust Fund Buddy
Totals your monthly spending so that your trust fund doesn't run out
(and you're forced to get a real job).
Please enter the requested, monthly costs. Since you're rich, ignore 
 pennies and use only dollar amounts.
"""
)
car = int(input("Lamborghini Tune-Ups: "))
rent = int(input("Manhattan Apartment: "))
jet = int(input("Private Jet Rental: "))

gifts = int(input("Gifts: "))
food = int(input("Dining Out: "))
staff = int(input("Staff (butlers, chef, driver, assistant): "))
guru = int(input("Personal Guru and Coach: "))
games = int(input("Computer Games: "))
total = car + rent + jet + gifts + food + staff + guru + games
print("\nGrand Total:", total)

 Trust Fund Buddy
Totals your monthly spending so that your trust fund doesn't run out
(and you're forced to get a real job).
Please enter the requested, monthly costs. Since you're rich, ignore
 pennies and use only dollar amounts.

Lamborghini Tune-Ups: 10
Manhattan Apartment: 10
Private Jet Rental: 10
Gifts: 10
Dining Out: 10
Staff (butlers, chef, driver, assistant): 10
Personal Guru and Coach: 01
Computer Games: 10

Grand Total: 71

float(x) Returns a floating-point value by converting x     
int(x) Returns an integer value by converting x     
str(x) Returns a string value by converting x

In [10]:
food *= 52 
# *= is an augmented assignment operator. It also multiplies the value of food by 52 and thenassigns the result back to food,

In [8]:
food

27040